//
// section - container
// --------------------------------------------------

section {
    padding: 40px 0;
}

.container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 $space;
    @include box-sizing(border-box);

    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media only screen and (min-width: 768px) {
    section {
        padding: 80px 0;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        padding: 120px 0;
    }
}