
.widget.payment .widget-products-body {
	width: 100%;
}

.widget.payment .widget-products-action .btn {
	background-color: $second-color;
}

.widget.payment .widget-products-action .btn:before {
	background-color: $primary-color;
}





